.superHero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.explanationHolder {
    width: 100%;
    height: auto;
    padding: 20px;
}
