
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
    
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1200px){
   /* .numbers {
        background-image:url("./88.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 300px;
    }*/

    .svgFun {
            width: 100%;
            height: 303px;
            margin: 0 20px 10px 235px;
        }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1199px) and (min-width: 992px) {
     .svgFun {
            width: 100%;
            height: 303px;
            margin: 0 20px 10px 235px;
        }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 991px) and (min-width: 768px) {
     .svgFun {
            width: 300%;
            height: 200px;
            margin: 0 20px 10px 335px;
        }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 767px) and (min-width: 576px) {
     .svgFun {
            width: 100%;
            height: 303px;
            margin: 0 20px 10px 235px;
        }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 575px) {
     .svgFun {
            width: 100%;
            height: 303px;
            margin: 0 20px 10px 235px;
        }
}


@media screen and (min-width: 1200px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    @supports (-webkit-background-clip: text) {
        .numbers {
            /* display: flex;
                justify-content: center;
                align-items: center;*/
            width: 100%;
            height: 300px;
            color: #ab162b;
            background-image: url("./background.png");
            background-repeat: repeat;
            background-size: 100px 100px;
            margin: 0 0 10px 0;
            font-size: 15vw;
            font-weight: bold;
            font-family: 'Montsesrrat', sans-serif;
        }
    _::-webkit-full-page-media, _:future, :root .numbers {
         background-size: 20px 20px;
     }
        .smallNum {
            text-align: center;
            background-image: url("./bigred.png");
            background-repeat: repeat;
            background-position: center;
            background-size: 100px 100px;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            height: 100%;
            width: 100%;
            font-weight: 700;
        }

        .putItHere:before{
            height: 300px;
            width: 100%;
            font-weight: inherit;
            display: block;
            content: "88,000";
            color: transparent;
            -webkit-background-clip: text;
            background-image: url("./bigred.png");
            background-size: 100px 100px;

        }

    _::-webkit-full-page-media, _:future, :root .putItHere:before {
           background-size: 100px 100px;
           width: 100%; 
           height: 300px; 
        }
         .svgFun {
            width: 100%;
            height: 303px;
            margin: 0 20px 10px 235px;
        }
        @-moz-document url-prefix() {
            .svgFun {
                margin: 0 20px 10px 275px;
            }
        }
         _::-webkit-full-page-media, _:future, :root .svgFun {
            margin: 0 20px 10px 235px;
        }
    }
    .infographic {
        width: 100%;
        height: 500px;
        background-color: #fff;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }
    .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 300px;
        width: 350px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
    }
    .placeholderBox {
        self-align: center;
        height: 200px;
        width: 300px;
        background-color: #dfe3ee;
        margin: 10px 0 20px 0;
    }
    .bigSpanText {
        color: #8b0000;
        font-weight: 900;
        font-size: 3.5vh;
    }
    .donateButton {
        margin-top: 10px;
        background-color: #8b0000;
        border-radius: 8px;
        padding: 12px 20px;
    }
    .donateButton:hover {
        background-color: #ab162b;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: hidden;
    }   


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }   

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }

    @supports (-webkit-background-clip: text) {
        .numbers {
        /* display: flex;
             justify-content: center;
            align-items: center;*/
            width: 80%;
            height: 300px;
            color: #ab162b;
            background-image: url("./background.png");
            background-repeat: repeat;
            background-size: 200px 200px;
            margin: 0 0 10px 0;
            font-size: 24vw;
            font-weight: bold;
            font-family: 'Montsesrrat', sans-serif;
        }  
    _::-webkit-full-page-media, _:future, :root .numbers {
         background-size: 20px 20px;
    } 
        .putItHere, .smallNum {
            text-align: center;
            background-image: url("./bigred.png");
            background-repeat: repeat;
            background-position: center;
            background-size: 100px 100px;
            color: transparent;
            -webkit-background-clip: text;
            height: 100%;
            width: 100%;
            font-weight: 700;
        }   

         .putItHere:before{
            height: 300px;
            width: 100%;
            font-weight: inherit;
            display: block;
            content: "88,000";
            color: transparent;
            -webkit-background-clip: text;
            background-image: url("./bigred.png");
            background-size: 100px 100px;

        } 
    _::-webkit-full-page-media, _:future, :root .smallNum {
         background-size: 20px 20px;
    }
     _::-webkit-full-page-media, _:future, :root .putItHere:before {
           background-size: 100px 100px;
           width: 100%; 
           height: 300px; 
        }
            
          .svgFun {
            width: 95%;
            height: 300px;
            margin: 0 20px 10px 200px;
        }

          @-moz-document url-prefix() {
            .svgFun {
                margin: 0 20px 10px 270px;
            }
        } 
    }
        .infographic {
            display: flex;    
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            height: 500px;
            color: #fff;
        }

        .donateButton {
        margin-top: 10px;
        background-color: #8b0000;
        border-radius: 8px;
        padding: 12px 20px;
    }   
    .donateButton:hover {
        background-color: #ab162b;
    } 
     
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    @supports (-webkit-background-clip: text) {

        .numbers {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 300px;
            background-image: url("./background.png");
            background-repeat: repeat;
            background-size: 100px 100px;
            color: #ab162b;
            margin: 0 0 10px 0;
            font-size: 22vw;
            font-weight: bold;
            font-family: 'Montsesrrat', sans-serif;
        }

        _::-webkit-full-page-media, _:future, :root .numbers {
            background-size: 10px 10px;
        }

        .smallNum {
            text-align: center;
            background-image: url("./bigred.png");
            background-repeat: repeat;
            background-position: center;
            background-size: 100px 100px;
            color: transparent;
            -webkit-background-clip: text;
            height: 100%;
            width: 100%;
            font-weight: 700;
        }
            
         .putItHere:before{
            height: 300px;
            width: 100%;
            font-weight: inherit;
            display: block;
            content: "88,000";
            color: transparent;
            -webkit-background-clip: text;
            background-image: url("./bigred.png");
            background-size: 100px 100px;

        }    

        _::-webkit-full-page-media, _:future, :root .smallNum {
            background-size: 5px 5px;
        }

         _::-webkit-full-page-media, _:future, :root .putItHere:before {
           background-size: 100px 100px;
           width: 100%; 
           height: 300px; 
        }   
        
         .svgFun {
            width: 110%;
            height: 300px;
            margin: 0 100px 10px 275px;
        } 
    }
        .infographic {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            height: 500px;
            color: #fff;
        }   

        .donateButton {
        margin-top: 10px;
        background-color: #8b0000;
        border-radius: 8px;
        padding: 12px 20px;
    }   
    .donateButton:hover {
        background-color: #ab162b;
    } 
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 1500px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    @supports (-webkit-background-clip: text) {
         .svgFun {
            width: 140%;
            height: 300px;
            margin: 0 20px 10px 200px;
        }

        .numbers {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 300px;
            background-image: url("./background.png");
            background-repeat: repeat;
            background-size: 100px 100px;
            margin: 0 0 10px 0;
            font-size: 25vw;
            font-weight: 1000;
            font-family: 'Montsesrrat', sans-serif;
        }

        _::-webkit-full-page-media, _:future, :root .numbers {
            background-size: 10px 10px;
        }

        .smallNum {
            text-align: center;
            background-image: url("./bigred.png");
            background-repeat: repeat;
            background-position: center;
            background-size: 100px 100px;
            color: transparent;
            -webkit-background-clip: text;
            height: 100%;
            width: 100%;
            font-weight: 700;
        }

         .putItHere:before{
            height: 300px;
            width: 100%;
            font-weight: inherit;
            display: block;
            content: "88,000";
            color: transparent;
            -webkit-background-clip: text;
            background-image: url("./bigred.png");
            background-size: 100px 100px;

        }


         _::-webkit-full-page-media, _:future, :root .putItHere:before {
           background-size: 100px 100px;
           width: 100%; 
           height: 100%; 
        } 
    }
    .infographic {
        width: 90%;
        height: 1200px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .donateButton {
        margin-top: 10px;
        background-color: #8b0000;
        border-radius: 8px;
        padding: 12px 20px;
    }   
    .donateButton:hover {
        background-color: #ab162b;
    } 

}
@media screen and (max-width: 575px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 1500px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    @supports (-webkit-background-clip: text) {
        .numbers {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 80%;
            height: 250px;
            color: #ab162b;
            background-image: url("./background.png");
            background-repeat: repeat;
            background-size: 100px 100px;
            margin: 10px 0 10px 0;
            font-size: 24vw;
            font-weight: bold;
            font-family: 'Montsesrrat', sans-serif;
        }
        _::-webkit-full-page-media, _:future, :root .numbers {
            background-size: 10px 10px;
        }
        .smallNum {
            text-align: center;
            background-image: url("./bigred.png");
            background-repeat: repeat;
            background-position: center;
            background-size: 100px 100px;
            color: transparent;
            -webkit-background-clip: text;
            height: 100%;
            width: 100%;
            font-weight: 700;
            margin: -30px 0 0px 0;
        }

         .putItHere:before{
            height: 300px;
            width: 100%;
            font-weight: inherit;
            display: block;
            content: "88,000";
            color: transparent;
            -webkit-background-clip: text;
            background-image: url("./bigred.png");
            background-size: 100px 100px;

        }


         _::-webkit-full-page-media, _:future, :root .putItHere:before {
           background-size: 100px 100px;
           width: 100%; 
           height: 300px; 
        }    
        
        .svgFun {
            width: 150%;
            height: 200px;
            margin: 0 20px 0 120px;
        }   


    
    }

    .onlyOnMobile {
        text-align: center;
        padding: 0 10px 0 10px;
    }
    .infographic {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 1200px;
        color: #fff;
    }


        .donateButton {
        margin-top: 10px;
        background-color: #8b0000;
        border-radius: 8px;
        padding: 12px 20px;
    }   
    .donateButton:hover {
        background-color: #ab162b;
    } 
}
