
@media screen and (min-width: 1200px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
        font-size: 15vw;
        font-weight: 2000;
    }
    .infographic {
        width: 100%;
        height: 500px;
        background-color: #fff;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
        background-color: #000;
    }
    .donateButton {
        margin-top: 10px;
        background-color: #8b0000;
        border-radius: 8px;
        padding: 12px 20px;
    }
    .donateButton:hover {
        background-color: #ab162b;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }   


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }   

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }   

    .numbers {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 300px;
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
        font-size: 22vw;
        font-weight: 1000;
    }   
    .infographic {
        width: 80%;
        height: 500px;
        background-color: #000;
        color: #fff;
    }
     
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 300px;
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
        font-size: 22vw;
        font-weight: 1000;
    }
    .infographic {
        width: 80%;
        height: 500px;
        background-color: #000;
        color: #fff;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 300px;
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
        font-size: 25vw;
        font-weight: 1000;
    }
    .infographic {
        width: 90%;
        height: 500px;
        background-color: #000;
        color: #fff;
    }

}
@media screen and (max-width: 575px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: auto;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*background-color: red; */
        width: 100%;
        height: 900px;
    }

    .infoHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 200px;
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
        font-size: 22vw;
        font-weight: 1000;
    }
    .infographic {
        width: 80%;
        height: 700px;
        background-color: #000;
        color: #fff;
    }
}
