.line {
    width: 70%;
    height: 1px;
    border: 0;
    clear: both;
    display: block;
    background-color: #dfe3ee;
    margin: 10px 0 10px 0;

}

#firstLine:before {
    font-size: 1.25vh;
    display: block;
    content:"*Please be aware that chat and text may be intermittently unavailable as we transition to 24/7 coverage";
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

    @-moz-document url-prefix() {
                
            .line {
                width: 80%;
            }   
               
            .center {
                width: 70%;
            } 
     } 


@media screen and (min-width: 768px) and (max-width: 991px) {

    @-moz-document url-prefix() {
    
            .line {
                width: 80%;
            }   
    
            .center {
                width: 100%;
            }   
     }  
}


@media screen and (min-width: 576px) and (max-width: 767px) {
      @-moz-document url-prefix() {
    
            .line {
                width: 80%;
            }   
    
            .center {
                width: 100%;
                margin-bottom: 40px;
            }   
     }  

}

@media screen and (max-width: 575px) {

        @-moz-document url-prefix() {
      
            .line {
                width: 80%;
            }   
            
            .center {
                width: 100%;
                margin-bottom: 40px;
            }
     }

}
