

.imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }   
    .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 300px;
        width: 350px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
    }   
    
      img.placeholderBox {
        background-color: white;
    }   
    .placeholderBox {
        self-align: center;
        height: 200px;
        width: auto;
        background-color: #dfe3ee;
        margin: 10px 0 20px 0;
    } 
    
    .bigSpanText {
        color: #8b0000;
        font-weight: 900;
        font-size: 3.5vh;
    }   

