.page {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
}

.wrapper {
/*  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-self: center;
  -webkit-align-self: center;
*/  width: 100%;
  max-width: var(--maxWidth);
  /*padding: 1rem 0.75rem;*/
}

/*@media screen and (-ms-high-contrast: active) and (-ms-high-contrast:none) {
    .wrapper {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-align-self: center;
        width: 100%;
        height: 100vh;
        background-color: yellow;
  }
}*/
@media only screen and (max-width:575px) {

  .hero {
      height: 60vh;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      background-color: var(--colorSecondary);
  }

     .wrapper {
        width: 100%;
        height: 60vh;
        margin: -45px 0 0 0;
    }
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: #fff;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }

      div.heading {
        color: #fff;
    }  
    .textBox {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0 0 0;
        padding: 20px;
        height: 100%;
    }  
         .purpleTitle {
        font-size: 150%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
        margin-top: -10px;
    }  
    li {
        font-size: 12px;
    }  
    .button {
        margin-top: 5px;
        height: auto;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15vh;
        font-weight: bold;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero {
        display: flex;
        display: -webkit-flex;
        justify-content: right;
        -webkit-justify-content: right;
        margin: 0 auto;
        /*height:400px; */
        width: 100%;
        height: 500px;
        background-color: var(--colorSecondary);
    }
        .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }   
    .wrapper {
        width: 100%;
        height: 52.5vh;
        margin: 0 0 0 0;
    }   
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: ;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }   
    div.heading {
        color: #fff;
    }   
    .textBox {
           display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
        height: 100%;
    }   
         .purpleTitle {
        font-size: 150%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
        margin-top: -10px;
    }   
    li {
        font-size: 12px;
    }   
    .button {
        align-self: center;
        margin-top: 5px;
        height: auto;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15vh;
        font-weight: bold;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero {
        /*margin: 0 auto;
        /*width: 100%; 
        height: 65vh;
        width: 75vw;
        background-color: var(--colorSecondary);*/
        margin: 0 auto;
        height: 600px;
        width: 100%;
    }
        .header {
        width: 100%;
        height: 50%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        padding: 5rem 0;
        padding: 10vh 0;
        text-align: center;
    }

    .wrapper {
        width: 40%;
        height: 52.5vh; 
        margin: -45px 0 0 0;
    }   
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: #fff;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }   
    div.heading {
        color: #fff;
    }   
    .textBox {
         display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        margin: 15px 0 0 0;
        padding: 10px;
        height: auto;
        width: 100%;
        color: #fff;
    }   
    h1 {
        margin: 0 0 0 40px;
        font-size: 150%;
    }
     .purpleTitle {
        font-size: 150%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
        margin-top: -10px;
    }   
    li {
        font-size: 12px;
    }
    .button {
        align-self: center;
        margin-top: 5px;
        height: auto;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15vh;
        font-weight: bold;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){


    .hero {
    margin: 0 auto;
    height: 65vh;
    width: 85vw;
    /* fallback, mainly visible when hero image is loading */
    background-color: var(--colorSecondary);
    /* fallback when there is no hero image */
    }
    .header {
        width: 100%;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        padding: 5rem 0;
        padding: 10vh 0;
        text-align: center;
    }    

    .wrapper {
        width: 40%;
        height: 52.5vh; 
        margin: -45px 0 0 0;
    }   
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        color: ;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }   
    div.heading {
        color: #fff;
    }   
    .textBox {
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
        height: 100%;
        width: 100%;
        color: #fff;
    }   
    h1 {
        margin: 0 0 0 40px;
        font-size: 175%;
    }  

     .purpleTitle {
        font-size: 200%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
    } 
    li {
        font-size: 12px;
    } 
    .button {
        margin-top: 25px;
        width: 150px;
    }
    .button {
        height: auto;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5vh;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1200px) {
   /*.hero {
        margin: 0 auto;
        height: 55vh;
        width: 55vw;
        background-color: var(--colorSecondary);
    }*/
   .hero { 
        margin: 0 auto;
        margin: 0 50px 0 50px;
        height: 70vh;
        width: 75vw;
        background-color: var(--colorSecondary);
    }

   /*
    _:-ms-lang(x), .wrapper {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-align-self: center;
        width: 100%;
        background-color: yellow;
    }*/
    .header {
        width: 75vw;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        padding: 5rem 0;
        padding: 10vh 0;
        text-align: center; 
    }
    .wrapper {
        margin-top: -20px;
        margin-top: 0px;
        height: 62.5vh;
        height: 62.70vh;
        height: 100%;
        height: 70vh;
    }
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        height: 59.95vh;
        width: 30%;
        background-color: rgba(72, 40, 100, 0.85);
    }
    .textBox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        margin: 40px 0 0 0;
        margin-top: .75em;
        padding: 20px;
        height: 100%;
        width: 100%;
        color: #fff;
        font-size: 80%;
    }
    .purpleTitle {
        font-size: 200%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
    }
    li {
        font-size: 115%;
        margin-top: 5px;
    }
    .lowerTitleHolder {
       /* padding: 0 250px 0 250px;*/
    }
    .button {
        align-self: center;
        margin-top: 1em;

    }
    .button {
        height: auto;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5vh;
        font-weight: bold;
    }   
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1200px) {
    /*.hero {
        margin: 0 auto;
        height: 55vh;
        width: 55vw;
    }*/
     .hero { 
        margin: 0 auto;
        margin: 0 50px 0 50px;
        height: 70vh;
        width: 75vw;
        background-color: var(--colorSecondary);
    }
     .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 75vw;
        height: 100%;
    }
    .wrapper {
        margin-top: -15px;
        height: 61.75vh;
    }
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 30%;
        background-color: rgba(72, 40, 100, 0.85);
    }
    .textBox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
        height: 100%;
        width: 100%;
        color: #fff;
    }
    .purpleTitle {
        width: 100%;
        font-size: 200%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
    }
    li {
        font-size: 115%;
        margin-top: 5px;
    }
 
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width:767px ) and (min-width:576px) {
}



.heading, .lowerTitle {
 color: var(--colorNeutralLight);
  letter-spacing: 1px;
}

.body {width: 100%; }
.button {
        transition: background-color 0.5s ease;
 }

.button:hover {
        color: #fff;
        background-color: #8b0000;
}
