.page {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
}

.wrapper {
/*  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-self: center;
  -webkit-align-self: center;
*/  width: 100%;
  max-width: var(--maxWidth);
  /*padding: 1rem 0.75rem;*/
}

/*@media screen and (-ms-high-contrast: active) and (-ms-high-contrast:none) {
    .wrapper {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-align-self: center;
        width: 100%;
        height: 100vh;
        background-color: yellow;
  }
}*/
@media only screen and (max-width:575px) {

  .hero {
      height: 60vh;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      background-color: var(--colorSecondary);
    overflow: hidden;
  }

     .wrapper {
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
    }
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        color: #fff;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }

      div.heading {
        color: #fff;
    }  
    .textBox, .textBox_carousel .textBox3, .textBoxFirst {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        height: 100%;
        width: 100%;
    } 

    .textBoxFirst {
        margin: -50px 0 0 0;
    }
    .textBox {
        margin: -80px 0 0 0;
    }

    .textBox_carousel, .textBox3 {
        margin: 100px 0 0 0;
        padding: 0 10px 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
 
         .purpleTitle {
        font-size: 150%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .dateHolder {
        list-style-type: none;
        margin-top: -10px;
    }  
    li {
        font-size: 12px;
    }  
    .button {
        margin-top: 5px;
        height: 30px;
        text-align: center;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 3px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15vh;
        font-weight: bold;
    }

        .donateH1 {
        margin: 50px 0 10px 0px;
        color: #fff;
        font-size: 4vh;
    }
    .donateUl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        height: auto;
        color: #fff;
        font-size: 2vh !important;
        position: static !important;
    }
    .donateLi {
        height: 40%;
        font-size: 1.25vh;
        white-space: normal !important;
    }
    .donateP {
        font-size: 1.25vh;
    }
    .textBox3 .donateP:nth-child(2) {
        margin-top: -10px;
    }
    .textBox3 .donateP:nth-child(3)  {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .textBox3 .donateP {
        padding: 0 20px 0 20px;
    }
    .textBox3 .donateH1 {
        margin-top: 150px;
     }
    .textBox .donateH1 {
        margin-top: 200px;
        margin-bottom: -10px;
    }
    .textBox_carousel .donateH1 {
        margin-top: 150px;
    }
    .textBoxFirst .donateP {
        padding: 0 10px 0 10px;
    }
    .textBoxFirst .donateH1 {
        margin-top: 200px;
    }
    .textBox .datePlacement {
        margin-bottom: -15px;
    }
    .textBox .datePlacement .dateHolder .dateLine:first-child {
        margin-bottom: -10px;
        font-size: 1.5vh;
    }

    _::-webkit-full-page-media, _:future, :root .donateUl {
        height: 125px;
    }
         .movR {
            font-size: 12px;
            padding-right: 40px;
            margin-bottom: -50px;
            width: 100%;
        }
     @supports (-webkit-overflow-scrolling: touch) and (not (-ms-ime-align:auto))
and (not (-moz-appearance:none))
    {
        .textBox_carousel .donateUl {
            height: 50px;
            margin: 50px 0 50px 0;
        }
        .textBox_carousel .donateH1 {
            left: 40px;
            height: auto;
            width: 100%;
            text-align: center;
            margin: 75px -20px -30px 0;
        }
            .movR {
            font-size: 12px;
            padding-right: 20px;
            margin-bottom: -50px;
            width: 100%;
        }
        .textBox3 .donateH1 {
            margin-top: 175px;
        }
        .textBox .donateH1 {
            margin-top: 300px;   
        }
        .textBox_carousel .donateH1 {
            margin-top: 150px;
        }
        .textBoxFirst .donateH1 {
            margin-top: 300px;
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero {
        display: flex;
        display: -webkit-flex;
        justify-content: right;
        -webkit-justify-content: right;
        margin: 0 auto;
        /*height:400px; */
        width: 100%;
        height: 500px;
        background-color: var(--colorSecondary);
    }
        .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }   
    .wrapper {
        width: 100%;
        height: 52.5vh;
        margin: 0 0 0 0;
    }   
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: ;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }   
    div.heading {
        color: #fff;
    }   
    .textBox_carousel, .textBox, .textBox3, .textBoxFirst {
           display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin: 80px 0 0 0;
        padding: 20px;
        height: 100%;
        width: 100%;
    }   
         .purpleTitle {
        font-size: 150%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
        margin-top: -10px;
    }   
    li {
        font-size: 12px;
    }   
    .button {
        align-self: center;
        margin-top: 5px;
        height: 40px;
        width: 225px;
        text-align: center;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15vh;
        font-weight: bold;
    }
    .textBox .button {
            margin-top: 20px !important;
            margin-bottom: 150px !important;
            width: 250px
        }

    _::-webkit-full-page-media, _:future, :root .textBox .button {
            margin-top: 20px !important;
            margin-bottom: 150px !important;
            width: 295px !important;
            height: 40px !important;
        }
         .donateH1 {
        margin: 10px 0 10px 0px;
        color: #fff;
    }
    .donateUl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        height: auto;
        color: #fff;
        font-size: 2vh !important;
        position: static !important;
    }
    .donateLi {
        height: 40%;
        font-size: 1.25vh;
        white-space: normal !important;
    }
    _::-webkit-full-page-media, _:future, :root .textBox_carousel .donateUl {
        height:150px !important;
        width: 100% !important;
        font-size: 1.25vh;
    }
    .textBox3 .donateP:nth-child(2) {
        margin-top: -10px;
    }
    .textBox3 .donateP:nth-child(3)  {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .textBox .donateH1 {
        margin-bottom: -10px;
    }
    .textBox .datePlacement {
        margin-bottom: -15px;
    }
    .textBox .datePlacement .dateHolder .dateLine:first-child {
        margin-bottom: -10px;
        font-size: 1.5vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero {
        /*margin: 0 auto;
        /*width: 100%; 
        height: 65vh;
        width: 75vw;
        background-color: var(--colorSecondary);*/
        margin: 0 auto;
        height: 500px;
        width: 100%;
    }
        .header {
        width: 100%;
        height: 50%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        padding: 5rem 0;
        padding: 10vh 0;
        text-align: center;
    }

    .wrapper {
        width: 40%;
        height: 500px;
        margin: -42px 0 0 0;
    }   
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: #fff;
        background-color: #482864;
        background: rgba(72, 40,100, 0.85);
    }  

    @-moz-document url-prefix() {
        .heading {
            height: 500px;
        }
        .texBox, .textBoxFirst, .textBox_carousel, .textBox3 {
            margin-top: 50px !important;
        }
        .donateH1 {
        }
    } 
    div.heading {
        color: #fff;
    }   
    .textBox, .textBox3 {
         display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        margin: 15px 0 0 0;
        padding: 10px;
        height: 100%;
        width: 100%;
        color: #fff;
    }   
    h1 {
        margin: 0 0 -10px 40px;
    }
     .purpleTitle {
        margin: 20px 0 -10px 0;
        font-size: 150%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
        margin-top: -10px;
    }   
    li {
        font-size: 12px;
    }
    .button {
        align-self: center;
        margin-top: 5px;
        text-align: center;
        height: auto;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15vh;
        font-weight: bold;
    }

         .donateH1 {
        margin: 10px 0 10px 40px;
        color: #fff;
    }
        .textBox_carousel {
        text-align: left;
        margin: 0 0 0 0;
        padding: 20px;
        display: flex;
        flex-direction: column;

    }

    .textBoxFirst {
        margin: 30px 0 0 0;
    }
    .donateUl {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        height: auto;
        color: #fff;
        font-size: 2vh !important;
        position: static !important;
        margin-bottom: 20px;
    }
     .textBox_carousel .donateH1 {
        margin-left: 50px;
    }
    _::-webkit-full-page-media, _:future, :root .donateUl {
        margin-top: -10px !important;
        height: 200px !important;
    }

    _::-webkit-full-page-media, _:future, :root .movR {
        width: 100% !important;
        text-align: center;
    }
    _::-webkit-full-page-media, _:future, :root .textBox_carousel .donateLi {
        margin-top: 10px !important;
    }
    .donateLi {
        height: 40%;
        font-size: 1.25vh;
        white-space: normal !important;
    }
    .donateP {
        font-size: 1.25vh;
        width: 100%;
    }
    .textBox_carousel .donateUl {
        height: 150px;
        margin-bottom: 20px;
    }
    .textBox3 .donateP:nth-child(2) {
        margin-top: -10px;
    }
    .textBox3 .donateP:nth-child(3)  {
        margin-top: -10px;
        margin-bottom: -10px;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px){


    .hero {
    margin: 0 auto;
    height: 65vh;
    width: 85vw;
    /* fallback, mainly visible when hero image is loading */
    background-color: var(--colorSecondary);
    /* fallback when there is no hero image */
    }
    .header {
        width: 100%;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        padding: 5rem 0;
        padding: 10vh 0;
        text-align: center;
    }    

    .wrapper {
        width: 40%;
        height: 1000px;
        margin: -45px 0 0 0;
    }
    @-moz-document url-prefix() {
        .header {
            height: 100%;
            padding: 0;
          }
            
         .heading {
            height: 100%;
        }
        .wrapper {
            height: 1000px;
       }
        .textBoxFirst {
            margin: 120px 0 0 0;
        }
        .textBox {
            margin: 100px 0 0 0;
        }
    }    
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        color: #fff;
        background: rgba(72, 40,100, 0.85);
    }   
    div.heading {
        color: #fff;
    }   
    .textBox, .textBox3 {
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
        height: 100%;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }  

    .textBoxFirst {
        margin-top: 60px;
    } 
    h1 {
        margin: 0 0 0 40px;
        font-size: 150%;
    }  

     .purpleTitle {
        font-size: 2.5vh;
    }
    
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .dateHolder {
        list-style-type: none;
        width: 100% !important;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 
    .dateHolder li {
        font-size: 1.1vh;
    }
          .donateH1 {
        margin: 20px 0 -10px 40px;
        color: #fff;
    }
        .textBox_carousel {
        text-align: left;
        margin: 0 0 0 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
            
    }   
    .donateUl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        height: auto;
        color: #fff;
        font-size: 2vh !important;
        position: static !important;
    }   
    .donateLi {
        height: 40%;
        font-size: 1.25vh;
        white-space: normal !important;
    }
    .donateP {
        font-size: 1.25vh;
        width: 100%;
    }  
    .button {
        margin-top: 50px;
        width: 150px;
    }
    .button {
        self-align: center;
        height: auto;
        width: 225px;
        border: none;
        text-align: center;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2vh;
        font-weight: bold;
        margin: 40px 0 0 40px;
    }
     @-moz-document url-prefix() {
        .header {
            height: 100%;
            padding: 0;
          }    
                 
         .heading {
            height: 100%;
        }    
        .wrapper {
            height: 1000px;
       }    
        .textBoxFirst {
            margin: 120px 0 0 0; 
        }    
        .textBox {
            margin: 100px 0 0 0; 
        } 
        .textBox3 {
            margin: 100px 0 0 0;
        } 

        .textBox_carousel {
            margin: 100px 0 0 0;
        }  
    }
    
    .textBox_carousel .donateUl {
        height: 150px;
        margin-bottom: 20px;
    }     
}

@media only screen and (min-width: 1200px) {
   /*.hero {
        margin: 0 auto;
        height: 55vh;
        width: 55vw;
        background-color: var(--colorSecondary);
    }*/
   .hero { 
        margin: 0 auto;
        margin: 0 50px 0 50px;
        height: 70vh;
        width: 75vw;
    }

   /*
    _:-ms-lang(x), .wrapper {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-align-self: center;
        width: 100%;
        background-color: yellow;
    }*/
    .header {
        width: 75vw;
        height: 70vh;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        text-align: center; 
    }
    .wrapper {
        margin-top: 0px;
        height: 100%;
    }
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;/*
        justify-content: flex-start;
        align-items: flex-start;*/
        height: 100%;
        width: 30%;
        margin-top: 0px;
        background-color: rgba(72, 40, 100, 0.85);
    }
    .textBox, .textBoxFirst, .textBox3 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        margin-top: 7em;
        padding: 20px;
        height: 100%;
        width: 100%;
        color: #fff;
        font-size: 80%;
    }
    .purpleTitle {
        font-size: 200%;
        font-weight: 600;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .dateHolder  {
        position: static;
        list-style-type: none;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .dateLine {
        font-size: 12px;
        margin-top: 5px;
        width: 300px;
        margin-right: 20px;
        margin-bottom: 10px;

    }
    .dateHolder .dateLine:first-child {
        margin-bottom: -5px;
    }
    .lowerTitleHolder {
        width: 100%;
        height: auto;
    }
    .button {
        align-self: center;
        margin-top: 0.5em;

    }
    .button {
        height: auto;
        width: 225px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15vh;
        font-weight: bold;
        text-align: center;
    }  
        .donateH1 {
        width: 100%;
        margin: 10px 0 0 0px;
        color: #fff;
        font-weight: 700;
    }
    .textBoxFirst .donateH1 {
        margin: -10px 0 0 0;
    }
    li {
        font-size: 12px;
    }
    .textBox_carousel {
        text-align: left;
        margin: 80px 0 0 0;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .donateUl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        height: auto;
        color: #fff;
        font-size: 14px !important;
        position: static !important;
    }
    .donateLi {
        height: 40%;
        font-size: 12px;
        white-space: normal !important;
    }
    .textBox .donateH1 {
        margin: -10px 0 0 0;
    }
    .textBox_carousel .donateH1 {
        margin: 20px 0 0 40px;
    }
    .textBox3 .donateH1 {
        margin: -10px 10px 0 0;
    }
    .textBox3 .donateP:first-child {
        margin: 10px 0 0 0;
    }
    .textBox3 .donateP:nth-child(2) {
        margin: 0px 0 0px 0;
    }
    .textBox3 .donateP:nth-child(3) {
        margin: 0px 0 15px 0;
    }
    .donateP {
        width: 100%;
    }
    
    .textBox_carousel .donateUl {
        height: 150px;
        margin-bottom: 20px;
    }    
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1200px) {
    /*.hero {
        margin: 0 auto;
        height: 55vh;
        width: 55vw;
    }*/
     .hero { 
        margin: 0 auto;
        margin: 0 50px 0 50px;
        height: 70vh;
        width: 75vw;
        background-color: var(--colorSecondary);
    }
     .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 75vw;
        height: 70vh;
    }
    .wrapper {
        margin-top: 0;
        height: 100%;
    }
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 30%;
        background-color: rgba(72, 40, 100, 0.85);
    }
    .textBox, .textBox3 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin: 1em 0 0 0;
        padding: 20px;
        height: 100%;
        width: 100%;
        color: #fff;
    }
    .purpleTitle  {
        font-size: 200%;
        font-weight: 600;
    }
    .textBox p {
        width: 100%;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
    }
    li {
        font-size: 115%;
        margin-top: 5px;
    }
    .button {
        font-size: 95%;
    }
 
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width:1199px ) and (min-width:992px) {
    .hero {
    margin: 0 auto;
    height: 65vh;
    width: 85vw;
    /* fallback, mainly visible when hero image is loading */
    background-color: var(--colorSecondary);
    /* fallback when there is no hero image */
    }
     
    .header {
        width: 85vw;
        height: 77.40vh;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        /*padding: 5rem 0;
        padding: 10vh 0;*/
        text-align: center;
    }  
    
     .wrapper {
        width: 40%;
        height: 100%;
        margin: -20px 0 0 0;
    }       
    .heading {
        /*margin: 270px 0 0 0;*/
        display: flex;
        height: 100%;
        width: 100%;
        color: ;
        background-color: #482864;
        background: rgba(72, 40, 100, 0.85);
    }

    div.heading {
        color: #fff;
    }
    .textBox, .textBox3 {
        text-align: left;
        margin: 0 0 0 0;
        padding: 20px;
        height: 100%;
        width: 100%;
        color: #fff;
    }
    h1 {
        margin: 0 0 0 40px;
        font-size: 175%;
    }

     .purpleTitle {
        font-size: 200%;
        font-weight: 600;
    }
    
    

}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width:991px ) and (min-width:768px) {
    .hero {
        margin: 0 auto;
        height: 500px;
        width: 100%;
    }
        .header {
        width: 100%;
        height: 500px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: left;
        -webkit-justify-content: left;
        text-align: center;
    }
    
    .wrapper {
        width: 40%;
        height: 100%;
        margin: 0px 0 0 0;
    }
    .heading {
        display: flex;
        height: 426.5px;
        color: #fff;
        margin-top: -10px;
        background-color: #482864;
        background:rgba(72, 40, 100, 0.85);
    }
    div.heading {
        color: #fff;
    }
    .textBox, .textBox3 {
         display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        margin: 1px 0 0 0;
        padding: 10px;
        height: auto;
        width: 100%;
        color: #fff;
    }
    
    h1 {
        margin: 0 0 -10px 40px;
    }
     .purpleTitle {
        margin: 20px 0 -10px 0;
        font-size: 150%;
        font-weight: 600;
    }

    .textBox p {
        width: 100%;
    }
    .datePlacement {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width:767px ) and (min-width:576px) {
    .hero {
        display: flex;
        display: -webkit-flex;
        justify-content: right;
        -webkit-justify-content: right;
        margin: 0 auto;
        /*height:400px; */
        width: 100%;
        height: 500px;
        background-color: var(--colorSecondary);
    }
        .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

      .textBox, .textBox3 {
           display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin: 40px 0 0 0;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
    .textBox p {
        width: 80%;
    }

    .purpleTitle {
        font-size: 150%;
        font-weight: 600;
    }   
    .datePlacement {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }   
    ul {
        list-style-type: none;
        margin-top: -10px;
    }   
    li {
        font-size: 12px;
    }   
 
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width:575px) {
        .hero {
        display: flex;
        display: -webkit-flex;
        justify-content: right;
        -webkit-justify-content: right;
        margin: 0 auto;
        /*height:400px; */
        width: 100%;
        height: 60vh;
        background-color: var(--colorSecondary);
    }   
        .header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }   

      .textBox, .textBox3 {
           display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin: 40px 0 0 0;
        padding: 0px;
        height: 100%;
        width: 100%;
    }   
    .textBox p { 
        width: 80%;
    }   

    .purpleTitle {
        font-size: 150%;
        font-weight: 600;
    }   
    
    .datePlacement {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    ul {
        list-style-type: none;
        margin-top: -10px;
    }
    li {
        font-size: 12px;
    }

}
.heading, .lowerTitle {
 color: var(--colorNeutralLight);
  letter-spacing: 1px;
}

.body {width: 100%; }
.button {
        transition: background-color 0.5s ease;
 }

.button:hover {
        color: #fff;
        background-color: #8b0000;
}
.buttonFill {
    width: 100%;
    height: auto;
}
