@media screen and (min-width: 1200px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        width: 100%;
        height: 300px;
    }
    
      @-moz-document url-prefix() {
            .bigHolder {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
     
            .holder {
                width: 70%;
            }
     
     }

    .postHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: auto;
    }

    .standInImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 200px;
        margin: 0 10px 0 -10px;
    }
    .textArea {
        width: 40%;
        height: 100%;
        margin: 0 0px 0 30px;
    }
    .subtitle {
        margin: 5px 0 5px 0;
        height: 15px;
        white-space:nowrap;
        width: 100%;
    }
    .descriptionArea {
        margin: 10px 0 0 0;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }   


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        width: 100%;
        height: 300px;
    }  

      
      @-moz-document url-prefix() {
            .bigHolder {
                display: flex;
                flex-direction: column;
                align-items: center;
            }   
            
            .holder {
                width: 70%;
            }   
        
     } 

    .postHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: auto;
    }   

    .standInImg {
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 200px;
        margin: 0 10px 0 -10px;
    }   
    .textArea {
        width: 40%;
        height: 100%;
        margin: 0 0px 0 30px;
    } 

    .subtitle {
        margin: 5px 0 0 0;
        height: 20px;
        width: 100%;
        white-space:nowrap;
    }
    .descriptionArea {
        margin: 5px 0 0 0;
    }
} 

@media screen and (min-width: 768px) and (max-width: 991px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }


    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        width: 100%;
        height: 300px;
    }

    .postHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: auto;
    }

    .standInImg {
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 200px;
        margin: 0 10px 0 -10px;
    }
    .textArea {
        width: 40%;
        height: 100%;
        margin: 0 0px 0 30px;
    }

    .subtitle {
        margin: 5px 0 30px 0;
        height: 20px;
        white-space:wrap;

    }
    .descriptionArea {
        margin: 5px 0 0 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: 300px;
    }   
    
    
    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        width: 100%;
        height: 300px;
    }   
    
    .postHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: auto;
    }   
    
    .standInImg {
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 200px;
        margin: 0 10px 0 -10px;
    }   
    .textArea {
        width: 55%;
        height: 100%;
        margin: 0 0px 0 30px;
    }   
    
    .subtitle {
        margin: 10px 0 30px 0;
        height: 1em; 
        width: 100%;
        white-space:wrap;
    }   
    .descriptionArea {
        margin: 5px 0 0 0;
    } 
}

@media screen and (max-width: 575px) {
    .bigHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: 500px;
    }   
    
    
    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        width: 100%;
        height: 500px;
    }   
    
    .postHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: auto;
    }   
    
    .standInImg {
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        margin: 0 0px 0 -0px;
    }   
    .textArea {
        width: 100%;
        height: 100%;
        margin: 0 0px 0 0px;
    }   
    
    .subtitle {
        width: 80%;
        white-space: wrap!important;
        margin: 5px 0 20px 0;
        display: flex;
        justify-content: center;
        height: 20px; 
    }   
    .descriptionArea {
        margin: 5px 0 0 0;
    }
}
