.page {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
}

.wrapper4 {
/*  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-self: center;
  -webkit-align-self: center;
*/  width: 100%;
  max-width: var(--maxWidth);
  /*padding: 1rem 0.75rem;*/
}

/*@media screen and (-ms-high-contrast: active) and (-ms-high-contrast:none) {
    .wrapper {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-align-self: center;
        width: 100%;
        height: 100vh;
        background-color: yellow;
  }
}*/
@media only screen and (max-width:575px) {

  .hero_4 {
      height: 60vh;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      background-color: var(--colorSecondary);
      margin-bottom: 50px;
  }
  .header_4 {
      height: 100%;
      margin-top: 0px;
  }
  .heading_4 {
      margin: 0px 0 0 0;
      height: 100%;
      font-size: 1.25em;
      background-color: #482864;
      background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
  }
  .wrapper_4 {
      height: 100%;
      color: #fff;
  }

       .textBox_4 {
        text-align: left;
        margin: 50px 0 0 0;
        padding: 10px;
        color: #fff;
    } 

  .lowerTitleHolder_4 {
      padding: 0 20px 0 20px;
      font-size: 0.75em;
  }
  h1 {
      color: #fff;
  }
  .button_4 {
         white-space: nowrap;
        width: 200px;
        margin-left: 30px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.25vh;
        font-weight: bold;
        transition: background-color 0.5s ease;
 }

.button_4:hover {
        color: #fff;
        background-color: #8b0000;
}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero_4 {
        display: flex;
        display: -webkit-flex;
        justify-content: right;
        -webkit-justify-content: right;
        margin: 0 auto;
        /*height:400px; */
        width: 100%;
        background-color: var(--colorSecondary);
    }
        .header_4 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }   
    .wrapper_4 {
        width: 50%;
        height: 52.5vh; 
        margin: -45px 0 0 0;
    }   
    .heading_4 {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: #fff;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }   
    div.heading_4 {
        color: #fff;
    }   
    .textBox_4 {
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
        color: #fff;
    }   
    h1 {
        margin: 0 0 0 40px;
        font-size: 150%;
        color: #fff;
    }   
    li {
        font-size: 12px;
    }   
    .button_4 {
        margin-top: 15px;
    } 

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_4 {
        /*margin: 0 auto;
        /*width: 100%; 
        height: 65vh;
        width: 75vw;
        background-color: var(--colorSecondary);*/
        margin: 0 auto;
        height: 400px;
        width: 800px;
    }
        .header_4 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }   
    .wrapper_4 {
        width: 40%;
        height: 100%; 
        margin: -45px 0 0 0;
    }   
    .heading_4 {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: ;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }   
    div.heading_4 {
        color: #fff;
    }   
    .textBox_4 {
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
    }   
    h1 {
        margin: 0 0 10px 40px;
        font-size: 150%;
        color: #fff;
    }   
    li {
        font-size: 12px;
    }   
    .button_4 {
        margin-top:15px;
    }  
}
@media only screen and (min-width: 992px) and (max-width: 1199px){


    .hero_4 {
    margin: 0 auto;
    height: 65vh;
    width: 85vw;
    /* fallback, mainly visible when hero image is loading */
    background-color: var(--colorSecondary);
    /* fallback when there is no hero image */
    }
       .header_4 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }   
    .wrapper_4 {
        width: 40%;
        height: 52.5vh; 
        margin: -45px 0 0 0;
    }   
    .heading_4 {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: ;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }   
    div.heading_4 {
        color: #fff;
    }   
    .textBox_4 {
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
    }   
    h1 {
        margin: 0 0 0 40px;
        font-size: 150%;
        color: #fff;
    }   
    li {
        font-size: 12px;
    } 
    .button_4 {
        margin-top: 50px;
    }
}

@media screen and (min-width: 1200px) {
   /*.hero {
        margin: 0 auto;
        height: 55vh;
        width: 55vw;
        background-color: var(--colorSecondary);
    }*/
   .hero_4 { 
        margin: 0 auto;
        margin: 0 50px 0 50px;
        height: 70vh;
        width: 75vw;
        background-color: var(--colorSecondary);
    }

   /*
    _:-ms-lang(x), .wrapper {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-align-self: center;
        width: 100%;
        background-color: yellow;
    }*/
    .header_4 {
        width: 100%;
        height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: left;
    -webkit-justify-content: left;
    padding: 5rem 0;
    padding: 10vh 0;
    text-align: center;
    }
    .wrapper_4 {
        width: 40%;
        height: 52.5vh; 
        margin: -45px 0 0 0;
    }
    .heading_4 {
        /*margin: 270px 0 0 0;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: ;
        background-color: #482864;
        background: linear-gradient(to top, rgba(72, 40, 100, 0), rgba(72, 40,100, 1));
    }
    div.heading_4 {
        color: #fff;
    }
    .textBox_4 {
        text-align: left;
        margin: 40px 0 0 0;
        padding: 20px;
    }
    h1 {
        margin: 0 0 0 40px;
        color: #fff;
    }
    li {
        font-size: 12px;
    }
    .lowerTitleHolder_4 {
       /* padding: 0 250px 0 250px;*/
    }
    .button_4 {
        margin-top: 100px;
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1200px) {
    /*.hero {
        margin: 0 auto;
        height: 55vh;
        width: 55vw;
    }*/
      .hero_4 {
        margin: 0 auto;
        margin: 0 50px 0 50px;
        height: 70vh;
        width: 75vw;
        background-color: var(--colorSecondary);
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width:767px ) and (min-width:576px) {
}


.linkExtend {
    width:100%;
    height: 100%;
}
.heading_4, .lowerTitle_4 {
  letter-spacing: 1px;
}

.button_4 {
         white-space: nowrap;
        width: 200px;
        margin-left: 30px;
        border: none;
        border-radius: 8px;
        background-color: #fff;
        color: #8b0000;
        padding: 12px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 1.25vh;
        font-weight: bold;
        transition: background-color 0.5s ease;
 }

.button_4:hover {
        color: #fff;
        background-color: #8b0000;
}
