.contactForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;

  & .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    & label {
      margin-bottom: .5rem;
    }   
    & input, & textarea {
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #55595c; 
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 2px;
    }   

    & textarea {
      resize: vertical;
      min-height: 100px;
      font-family: Arial;
    }   

    & input:invalid, & textarea:invalid {
      box-shadow: none;
    }   
  }


  & input[type=submit] {
    display: block;
    padding: .5rem 1rem;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
    border-radius: 2px;
    font-size: 1rem;
    transition: .2s all;
    color: #007acc;
    border: 1px solid #007acc;/*
    background: rgba(251, 252, 252, 0.2);*/
    width: 6rem;
    cursor: pointer;
  }
}

.contactForm {
    display: flex;
    flex-direction: column;
}

    .divStyle { 
        height: 100%;
        width: 100%;
        padding: 10px;
        marginTop: 200px;
        marginBottom: 120px;
    }   

    .formGroup3 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .messageContact {
        height: 400px;
    }
    .buttonContact {
        align-self: center;
        margin-top: 5px;
        border: 1px solid #007acc;
        border-radius: 8px;
        color: #007acc;
        padding: 15px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 175%;     
        width: 40%;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .buttonContact:hover {
        background-color: #007acc;
        color: #fff;
    }

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
