




@media screen and (min-width: 1200px) {
    .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: blue; */
        height: 400px;
        width: 100%;
    }

    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .smallVids_0_2_0 {
        height: 300px;
        width: 50%;
        margin: 0 5px 0 5px;
    }
    .bigVid_0_2_0 {
        margin: 0 5px 0 5px;
    }
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
        width: 50%;
        height: 600px;
    }

    .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff;
        /*background-color: #000;*/
    }
    .bigVid_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }
    .textArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #482864;
        width: 60%;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    .vidArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        width: 40%;
        height: 100%;
    }
    img.present_0_2_0 {
        align-self: center;
        height: 100%;
        width: 100%;
        margin: 0 0 1px 0;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: blue; */
        height: 400px;
        width: 100%;
    }

    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80%;
    }

    .bigVid_0_2_0, .smallVids_0_2_0 {
        height: 300px;
        width: 50%;
        margin: 0 5px 0 5px;
    }

    .bigVid_0_2_0 {
        background-color: #dfe3ee;
    }

    .bigVid_0_2_0, .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff;
        background-color: #000;
    }
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }

    .vidArea_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: #000;
        width: 40%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
      .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }   
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: blue; */
        height: 400px;
        width: 100%;
    }   
    
    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80%;
    }   
    
    .bigVid_0_2_0, .smallVids_0_2_0 {
        height: 300px;
        width: 50%;
        margin: 0 5px 0 5px;
    }   
    
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
    }   
    
    .bigVid_0_2_0, .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff; 
        background-color: #000;
    }   
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }   
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }     

}

@media screen and (min-width: 576px) and (max-width: 767px) {
     .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }   
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: blue; */
        height: 800px;
        width: 100%;
    }   
    
    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }   
    
    .bigVid_0_2_0, .smallVids_0_2_0 {
        height: 300px;
        width: 100%;
        margin: 0 5px 0 5px;
    }   
    
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
    }   
    
    .bigVid_0_2_0, .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff; 
        background-color: #000;
    }   
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }   
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }  
}

@media screen and (max-width: 575px) {
    .bigHolder_0_2_0 { 
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }   
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: blue; */
        height: 800px;
        width: 100%;
    }   
    
    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }   
    
    .bigVid_0_2_0, .smallVids_0_2_0 {
        height: 300px;
        width: 100%;
        margin: 0 5px 0 5px;
    }   
    
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
    }
    
    .bigVid_0_2_0, .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff; 
        background-color: #000;
    }   
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }   
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }
}
