




@media screen and (min-width: 1200px) {
    .linkedOut {
        height: 100%;
        width: 100%;
    }
    
    .headline {
            height: 100%;
            width: 40%;
            color: white;
            font-size: 1.4vh;
            letter-spacing: 1px;
            white-space: wrap;
            margin: 0 10px 20px 10px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        } 
 .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        width: 100%;
    }

    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

     
      @-moz-document url-prefix() {
            
            .vidBox_0_2_0 {
                width: 70%;
            }   
        
     } 
    
    .smallVids_0_2_0 {
        height: 300px;
        width: 45%;
        margin: 0 5px 0px 5px;
    }
    .bigVid_0_2_0 {
        margin: 0 5px 0 5px;
    }
    .bigVid_0_2_0 {
        width: auto;
        height: 300px;
    }

    .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff;
        /*background-color: #000;*/
    }
    .bigVid_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }
    /*.textArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #482864;
        width: 60%;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    .vidArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        width: 40%;
        height: 100%;
    }*/
    .present_0_2_0, .present2_link, .present3_link {
        align-self: center;
        height: 100%;
        width: 100%;
    }
    .present1_0_2_0, .present1_link {
        height: 100%;
        width: 100%;
    }
    .present1_link {
        width: 100%;
        height: 300px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
     .linkedOut {
        height: 100%;
        width: 100%;
    }  
    .headline {
            height: 100%;
            width: 40%;
            color: white;
            font-weight: 400;
            font-size: 1.25vh;
            letter-spacing: 1px;
            white-space: wrap;
            margin: 0 10px 20px 10px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

    .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        width: 100%;
    }

    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

        @-moz-document url-prefix() {
                
            .vidBox_0_2_0 {
                width: 70%;
            }   
                
     } 

    .smallVids_0_2_0 {
        height: 300px;
        width: 45%;
        margin: 0 5px 0px 5px;
    }
    .bigVid_0_2_0 {
        margin: 0 5px 0 5px;
    }
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
        width: auto;
        height: 300px;
    }

    .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff;
        /*background-color: #000;*/
    }
    .bigVid_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }
    
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }
    /*.textArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #482864;
        width: 60%;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    .vidArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        width: 40%;
        height: 100%;
    }*/
    .present_0_2_0, .present2_link, .present3_link {
        align-self: center;
        height: 100%;
        width: 100%;
    }
    .present1_0_2_0, .present1_link {
        height: 100%;
        width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
   .linkedOut {
        height: 100%;
        width: 100%;
    }   
    
    .headline {
            height: 100%;
            width: 40%;
            color: white;
            font-size: 1.4vh;
            letter-spacing: 1px;
            white-space: wrap;
            margin: 0 10px 20px 10px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }    
    
    
    .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        width: 100%;
    }

    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .smallVids_0_2_0 {
        height: 300px;
        width: 45%;
        margin: 0 5px 0px 5px;
    }
    .bigVid_0_2_0 {
        margin: 0 5px 0 5px;
    }
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
        width: auto;
        height: 300px;
    }

    .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff;
        /*background-color: #000;*/
    }
    .bigVid_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }
    
       .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }
    /*.textArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #482864;
        width: 60%;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    .vidArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        width: 40%;
        height: 100%;
    }*/
    .present_0_2_0, .present2_link, .present3_link {
        align-self: center;
        height: 100%;
        width: 100%;
    }
    .present1_0_2_0, .present1_link {
        height: 100%;
        width: 100%;
    }


}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .linkedOut {
        height: 100%;
        width: 100%;
    }   
    
    .headline {
            height: 100%;
            width: 40%;
            color: white;
            font-size: 1.4vh;
            letter-spacing: 1px;
            white-space: wrap;
            margin: 0 10px 20px 10px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }    



    .bigHolder_0_2_0 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }   
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: blue; */
        height: 800px;
        width: 100%;
    }   
    
    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }   
    
    .bigVid_0_2_0, .smallVids_0_2_0 {
        height: 300px;
        width: 100%;
        margin: 0 5px 0 5px;
    }   
    
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
    }   
    
    .bigVid_0_2_0, .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff; 
        background-color: #000;
    }   
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }   
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }

       /* .textArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #482864;
        width: 60%;
        height: 100%;
        padding: 0 30px 0 30px;
    }*/
   /*.vidArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        width: 40%;
        height: 100%;
    }*/
    .present_0_2_0, .present2_link, .present3_link {
        align-self: center;
        height: 100%;
        width: 100%;
    }
    .present1_0_2_0, .present1_link {
        height: 100%;
        width: 100%;
    } 
}

@media screen and (max-width: 575px) {
    .linkedOut {
        height: 100%;
        width: 100%;
    }   
    
    .headline {
            height: 100%;
            width: 40%;
            color: white;
            font-size: 1.4vh;
            letter-spacing: 1px;
            white-space: wrap;
            margin: 0 10px 20px 10px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }   



    .bigHolder_0_2_0 { 
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }   
    .holder_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: blue; */
        height: 800px;
        width: 100%;
    }   
    
    .vidBox_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }   
    
    .bigVid_0_2_0, .smallVids_0_2_0 {
        height: 300px;
        width: 100%;
        margin: 0 5px 0 5px;
    }   
    
    .bigVid_0_2_0 {
        background-color: #dfe3ee;
        margin: 0 0 10px 0;
    }
    
    .bigVid_0_2_0, .vid1_0_2_0, .vid2_0_2_0 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff; 
        background-color: #000;
    }   
    .vid1_0_2_0, .vid2_0_2_0 {
        background-color: #dfe3ee;
        height: 48%;
    }   
    .vid1_0_2_0 {
        margin: 0 0 10px 0;
    }

       .present_0_2_0, .present2_link, .present3_link {
        align-self: center;
        height: 100%;
        width: 100%;
    }   
    .present1_0_2_0, .present1_link {
        height: 100%;
        width: 100%;
    }  
}

.bigVid_0_2_0 {
    background-size: cover;
    background-repeat: no-repeat;
            background-position: center;
    background-image: url("../../content/assets/grupido_thumb.png");
}

    .textArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #482864;
        width: 60%;
        height: 100%;
        padding: 0 30px 0 30px;
    }
    .vidArea_0_2_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        width: 40%;
        height: 100%;
    }
