


@media only screen and (min-width: 1200px) {
.imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }   
    .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 300px;
        width: 350px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
    }  
    img.placeholderBox {
        background-color: white;
    }
    .placeholderBox {
        self-align: center;
        height: 200px;
        width: auto;
        margin: 10px 0 10px 0;
    }
    .infoCard:nth-child(2) .placeholderBox img{
        width: auto;
        height: 150px;
        margin-bottom: -10px;
    }
    .infoCard:nth-child(2) .placeholderBox, .infoCard:nth-child(3) .placeholderBox {
        display: flex;
        align-items: flex-end;
    }
    .infoCard:nth-child(3) .placeholderBox img {
        height: 100px;
        width: auto;
    }
    .bigSpanText {
        color: #8b0000;
        font-weight: 900;
        font-size: 3.5vh;
    } 
    .infoCard:nth-child(2) .bigSpanText {
        line-height: 25px;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px){
      .imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }
    .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 300px;
        width: 350px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
    }
    img.placeholderBox {
        background-color: white;
    }
    .placeholderBox {
        self-align: center;
        height: 200px;
        width: auto;
        margin: 10px 0 20px 0;
    }
    .infoCard:nth-child(2) .placeholderBox img{
        width: auto;
        height: 150px;
        margin-bottom: -15px;
    }
    .infoCard:nth-child(2) .placeholderBox, .infoCard:nth-child(3) .placeholderBox {
        display: flex;
        align-items: flex-end;
    }
    .infoCard:nth-child(3) .placeholderBox img {
        height: 100px;
        width: auto;
    }
    .bigSpanText {
        color: #8b0000;
        font-weight: 900;
        font-size: 3.5vh;
    }
      .infoCard:nth-child(2) .bigSpanText {
        line-height: 25px;
    } 
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }
    .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 300px;
        width: 350px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
    }
    img.placeholderBox {
        background-color: white;
    }
    .placeholderBox {
        self-align: center;
        height: 200px;
        width: auto;
        margin: 10px 0 20px 0;
    }
    .infoCard:nth-child(2) .placeholderBox img{
        width: auto;
        height: 140px;
        margin-bottom: -10px;
    }
    .infoCard:nth-child(2) .placeholderBox, .infoCard:nth-child(3) .placeholderBox {
        display: flex;
        align-items: flex-end;
    }
    .infoCard:nth-child(3) .placeholderBox img {
        height: 100px;
        width: auto;
    }
    .bigSpanText {
        color: #8b0000;
        font-weight: 900;
        font-size: 3.5vh;
    }

      .infoCard:nth-child(2) .bigSpanText {
        line-height: 25px;
    } 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80%;
        width: 100%;
    }
    .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 400px;
        width: 350px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
    }
    .JDtext {
        width: 100%;
        margin-top: -10px;
    }
    img.placeholderBox {
        background-color: white;
    }
    .placeholderBox {
        display: flex;
        align-items: center;
        justify-content: center;
        self-align: center;
        height: 200px;
        width: auto;
        margin: 10px 0 10px 0;
        text-align: center;
    }
    .infoCard:nth-child(2) .placeholderBox img{
        width: auto;
        height: 150px;
        padding: 0 10px 0 20px;
    }
    .infoCard:nth-child(2) .placeholderBox, .infoCard:nth-child(3) .placeholderBox {
        display: flex;
        align-items: flex-end;
    }
    .infoCard:nth-child(3) .placeholderBox img {
        height: 100px;
        width: auto;
        padding: 0 10px 0 30px;
    }
    .bigSpanText {
        color: #8b0000;
        font-weight: 900;
        font-size: 3.5vh;
    }

}

@media only screen and (max-width: 575px) {
    .imgArea {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 350px;
        width: 300px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
        margin-top: 20px;
    }
    img.placeholderBox {
        background-color: white;
    }
    .placeholderBox {
        self-align: center;
        height: 200px;
        width: auto;
        margin: 10px 0 20px 0;
    }
    .infoCard:nth-child(2) .placeholderBox img{
        width: auto;
        height: 150px;
    }
    .infoCard:nth-child(2) .placeholderBox, .infoCard:nth-child(3) .placeholderBox {
        display: flex;
        align-items: flex-end;
    }
    .infoCard:nth-child(3) .placeholderBox img {
        height: 100px;
        width: auto;
    }
    .bigSpanText {
        color: #8b0000;
        font-weight: 900;
        font-size: 3.5vh;
    }

}

.bigSpanText {
    line-height: 50px;
}

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1200px){
      .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #333;
        background-color: white;
        /*border: 1px solid #dfe3ee;*/
        border-radius: 12px;
        height: 300px;
        width: 350px;
        /*margin: 0 40px 0 40px;*/
        text-align: center;
    }
 
    img.placeholderBox {
    }

    .infoCard {
        width: 100%;
        font-size: 2vh;
    }
 }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1199px) and (min-width: 992px) {
        .infoCard {
            width: 100%;
            font-size: 2vh;
        }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 991px) and (min-width: 768px) {
      .infoCard {
            width: 100%;
            font-size: 2vh;
        } 
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 767px) and (min-width: 576px) {
    .infoCard {
           width: 100%;
            font-size: 2vh;
    } 
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 575px) {
    
}
