@media only screen and  (max-width: 575px) {
     .divHolder_0_2_1_0 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }       
    
      .titleNew {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        text-align: center;
        height: 30px;
        width: 90%;
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 40px;
        padding-bottom: -40px;
        color: #333;
        font-weight: 300;
    }   
    
     .videoGroup_0_2_1_0 {
        width: 100%;
        height: 100%;
    }   
    .video_0_2_1_0 {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .videoPt_0_2_1_0 {
        width: 40%;
        height: auto;
        padding: 20px;
        margin: 0 0px 0 0px;
    }
    .videoDescription_0_2_1_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
        margin: 0 0px 0 0px;
        font-size: 125%;
        color: #333;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .divHolder_0_2_1_0 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }      

    .titleNew {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        text-align: center;
        height: 50px;
        width: 90%;
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 40px;
        padding-bottom: -40px;
        color: #333;
        font-weight: 300;
    } 

     .videoGroup_0_2_1_0 {
        width: 100%;
        height: 100%;
    }
    .video_0_2_1_0 {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

     .videoPt_0_2_1_0 {
        width: 40%;
        height: auto;
        padding: 20px;
        margin: 0 0px 0 0px;
    }
    .videoDescription_0_2_1_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
        margin: 0 0px 0 0px;
        font-size: 2vh;
        color: #333;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
     .divHolder_0_2_1_0 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }      

    .titleNew {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        text-align: center;
        height: 50px;
        width: 90%;
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 100px;
        padding-bottom: -40px;
        color: #333;
        font-weight: 300;
    }

    .videoGroup_0_2_1_0 {
        width: 100%;
        height: 100%;
    }
    .video_0_2_1_0 {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

     .videoPt_0_2_1_0 {
        width: 40%;
        height: auto;
        padding: 20px;
        margin: 0 0px 0 40px;
    }
    .videoDescription_0_2_1_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;
        padding: 30px;
        margin: 0 0px 0 40px;
        font-size: 2vh;
        color: #333;
    } 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .divHolder_0_2_1_0 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }
    
     .titleNew {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        text-align: center;
        height: 50px;
        width: 90%;
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 100px;
        padding-bottom: -40px;
        color: #333;
        font-weight: 300;
    }

    .videoGroup_0_2_1_0 {
        width: 100%;
        height: 100%;
    }
    .video_0_2_1_0 {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .videoPt_0_2_1_0 {
        width: 40%;
        height: auto;
        padding: 20px;
        margin: 0 0px 0 40px;
    }
    .videoDescription_0_2_1_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;
        height: 500px;
        margin: 0 0px 0 40px;
        font-size: 2vh;
        color: #333;
    }
}
@media only screen and (min-width: 1200px) {
    .divHolder_0_2_1_0 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }
    .titleNew {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        text-align: center;
        height: 50px;
        width: 100%;
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 100px;
        padding-bottom: -40px;
        color: #333;
        font-weight: 300;
    } 
    .videoGroup_0_2_1_0 {
        width: 100%;
        height: 100%;
    }
    .video_0_2_1_0 {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .videoPt_0_2_1_0 {
        width: 50%;
        height: auto;
        padding: 20px;
        margin: 0 60px 0 40px;
    }
    .videoDescription_0_2_1_0 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;
        height: 500px;
        margin: 0 0px 0 40px;
        font-size: 2vh;
        color: #333;
    }
    
    _::-webkit-full-page-media, _:future, :root .divHolder_0_2_1_0 {
            height:675px;
       }
}
