@media only screen and  (max-width: 575px) {
     .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }       

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
      .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }       
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
     .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }       
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
            .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }
}
@media only screen and (min-width: 1200px) {
        .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }
    .title_0_2_1 {
           display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        text-align: center;
        height: 30px;
        width: 90%;
        font-size: 275%;
        margin-top: 10px;
        margin-bottom: 100px;
        padding-bottom: -40px;
        color: #333;
        font-weight: 300;
    } 
    .videoGroup_0_2_1 {
        width: 100%;
        height: auto;
    }
    .video_0_2_1 {
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .videoPt_0_2_1 {
        height: auto;
        margin: 0 0 0 100px;
    }
    .videoDescription_0_2_1 {
        width: 35%;
        height: 100%;
        margin: 0 0 0 100px;
        background-color: red;
    }
    

}
