@media only screen and  (max-width: 575px) {
     .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }       

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
      .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }       
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
     .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }       
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
            .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }
}
@media only screen and (min-width: 1200px) {
        .divHolder_0_2_1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            height: auto;
            width: 100%;
            /*margin-bottom: 400px;*/
    }
    

}
